*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# intellij files
.idea
*.iml
*.ipr
*.iws
*.ids
*/*.iml
*/*.ipr
*/*.iws
*/*/*.iml
*/*/*.ipr
*/*/*.iws

# builds
*/tmp
*/test-result
*/modules
*/lib
*/logs
*/war
*/precompiled
*/target
*/build
*/out
*/*/tmp
*/*/modules
*/*/lib
*/*/test-result
*/*/logs
*/*/target
*/*/build
*/*/out
*/*/dist
out/
target/
build/
